# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://leandrosobko_db_user:39kokOttcCd8gZn1@cluster0.qkjc22r.mongodb.net/mobile-repair-ecommerce?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=mobile-repair-ecommerce

# Database Provider (mongodb or firebase)
DATABASE_PROVIDER=mongodb

# Firebase Configuration (mantener para migración)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDhkIfoobCjUqu6thb7AOQBTCSidII9aGU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=altatelefonia-1e51b.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=altatelefonia-1e51b
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=altatelefonia-1e51b.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=724944708673
NEXT_PUBLIC_FIREBASE_APP_ID=1:724944708673:web:874804815a39987d5652c0
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-V8DG4G138Z





